:root{
    --pembe: rgb(246, 122, 143);
    --beyaz : white;
    --siyah : black;
    --siyah-light : rgb(227, 227, 227);

}

body{
    background-color: var(--siyah-light);
}

.aktif-menu {
    background-color: var(--pembe);
}

a:hover{
    background-color: var(--pembe);
}
a{
   color: var(--siyah);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
