:root{
    --pembe: rgb(246, 122, 143);
    --pembe-light:rgb(254, 194, 204);
    --beyaz : white;
    --siyah : black;
    --siyah-light : rgb(227, 227, 227);
}

body{
    background-color: var(--siyah-light);
}

.aktif-menu {
    background-color: var(--pembe);
}

a:hover{
    background-color: var(--pembe);
}
a{
   color: var(--siyah);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: var(--pembe-light);
    padding: 1rem;
}

main{
    background-color: var(--beyaz);
    padding: 1rem;
}
footer{
    background-color: var(--pembe);
    padding: 1rem;
}