* {
    box-sizing: border-box;
}

:root {
    --arka-plan: #020617;
    --paragraf: #64747c;
    --basliklar: #e2e8f0;
    --buton: #e2e8f0;
    --link: #908bff;
}

/*https://block.codescandy.com/assets/images/logo/logo.svg sayfa urli */

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    width: 100%;
}
img{
    background-color: white;
    border-radius: 0.5rem;
}
button{
    color: white;
    background-color: var(--link);
    padding: 1rem;
    border-radius: 1rem;

}
.flex-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.flex-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
input{
    background-color: var(--arka-plan);
    padding: 1rem;
    border-radius: 1rem;
}
.flex-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links p {

    color: var(--basliklar);
}
.links li{
    padding: 5px;
}
li,
p {
    color: var(--paragraf);
}

body {
    background-color: var(--arka-plan);
    padding: 1rem;
}