
.container {
    width: 100%;
    background-color: #020617;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;}

.sectionFooter {
    color: white;
    display: grid;
    grid-row: auto;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding: 2.4rem;
}

.sectionFooter h3 {
    margin: 0.6rem;
}

img {
    border-radius: 1rem;
    background-color: white;
    padding: 0.5rem;
}

.logoText {
    font-size: medium;
    font-weight: 300;
    color: #5b6884;
    flex-direction: column;

}

.logoText p {
    padding-bottom: 3rem;
    text-overflow: inherit;
    width: 80%;
    
}

.inputArea p {
    padding: 0;
    margin: 0;
}

.subButton {
    font-size: medium;
    padding: 1rem;
    margin-left: 0.25rem;
    background-color: #8b3dff;
    border-radius: 1rem;
    color: white;
    border: none;
}

.subButton:hover {
    background-color: #8b3dff;
    color: #fff;
    cursor: pointer;
    opacity: 90%;
}

.inputEmail {
    background-color: #020617;
    padding: 1rem;
    border-radius: 1rem;
    color: white;

}

ul {
    list-style-type: none;
    padding: 0;
    color: #5b6884;
}

li {
    margin: 0.75rem auto;
}

li:hover {
    color: white;
    cursor: pointer;
}

.lists {
    display: flex;
    gap: 2rem;
}

.lists h3 {
    padding-bottom: 2rem;
    margin: 0;
}

.list {}