body{
    background-color: wheat;
    max-width: 1200px;
    margin:0 auto;
}
.form-element{
    margin: 5em em;
}
button{
    width: 30%;
    height: 3em;
    background-color: rgb(151, 103, 0);
    color: white;
}
b{
    font-weight: normal;
    display: inline-block;
    width: 12%;
    font-size: large;
    margin: 1rem;
}
main{
    margin: 0 1em;
}